h1 {
    font-size: 1.5em;
}

a {
    color: #F88375;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: #555;
}

.App-header {
    color: #F88375;
}

.App-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #F88375;
    height: 80vh;
    width: 100%;
}

.App-flirt {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    background: #F88375;
    margin: 0;
    height: 40vh;
    width: 100%;
}

.App-flirt-text {
    font-size: calc(2px + 3vmin);
    margin: 0 4vh 0 4vh;
    transition: .3s ease;
}

.App-flirt-text__loading {
    font-size: 1px;
    opacity: 0.5;
}

.App-settings {
    margin: 3vh 0;
    display: flex;
    justify-content: center;
    color: #888;
}

.App-settings-item {
    margin: 0 8px;
    display: flex;
    align-items: center;
}

.App-footer {
    font-size: calc(5px + 1vmin);
    margin: 0 4vh 2vh 4vh;
}

.btn-generate {
    background-color: transparent;
    color: #F88375;
    border: 2px solid #F88375;
    border-radius: 10px;
    font-size: calc(12px + 2vmin);
    padding: 10px 15px;
    transition: .2s ease;
}

.btn-generate:focus {
    outline: none;
}

.btn-generate:hover {
    background-color: #F88375;
    color: white;
}

.checkbox {
    -webkit-appearance: none;
    
    border: 2px solid #888;
    padding: 9px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    transition: .2s ease;
    margin: 0 5px;
}

.checkbox:active, .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:hover {
    border: 2px solid #F88375;
}

.checkbox:checked {
	border: 2px solid #F88375;
    color: #F88375;
    background: #F88375;
}

.checkbox:checked:after {
    content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
    color: #f4f0ef;
}

.checkbox:focus {
    outline: none;
}

.App-countup-text {
    color: #555;
}