.App {
  text-align: center;
  background-color: #f4f0ef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(8px + 2vmin);
  color: #888;
}

.App-header {
    margin-top: 5vh;
}

.App-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #cc6666;
    width: 80%;
    height: 30vh;
}

.App-flirt {
    font-size: calc(12px + 2vmin);
    text-align: left;
}

.App-settings {
    margin: 2vh 0;
    display: flex;
    justify-content: center;
}

.App-settings-item {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.App-footer {
    font-size: calc(5px + 1vmin);
    margin: 2vh 20px;
}

.btn-generate {
    font-size: calc(12px + 2vmin);
    border: none;
    box-shadow: 2px 2px 2px #00000055;
    padding: 5px 10px;
    transition: .2s ease;
}

.btn-generate:focus {
    outline: none;
}

.btn-generate:hover {
    background: #bbb;
}

.checkbox {
    -webkit-appearance: none;
    
    border: 2px solid #888;
    padding: 9px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    transition: .2s ease;
    margin: 0 5px;
}

.checkbox:active, .checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:hover {
    border: 2px solid #cc6666;
}

.checkbox:checked {
	border: 2px solid #cc6666;
    color: #cc6666;
    background: #cc6666;
}

.checkbox:checked:after {
    content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
    color: #f4f0ef;
}

.checkbox:focus {
    outline: none;
}